.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FUNDO COM IMAGEM */
body {
  margin: 0;
  padding: 0;
  background-image: url("/padaria.png");  
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/* CAMADA BRANCA TRANSLÚCIDA */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

/* CONTAINER GERAL */
.container {
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.icone {
  width: 50px;
  height: 50px;
}

/* TÍTULOS */
.titulo-secao {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Charter ITC TT", sans-serif;
  color: #602c0b;
}

/* PROMOÇÕES */
.promocoes {
  display: flex;
  gap: 300px;
  justify-content: center;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.card img {
  width: 20vw;
  height: 45vh;
  border-radius: 10px;
}

.card p {
  margin-top: 10px;
  font-weight: bold;
  color: #602c0b;
}

/* DIVISÓRIA */
.linha {
  width: 100%;
  margin: 30px auto;
  border: none;
  border-top: 2px solid #ccc;
}

/* SETA ENTRE AS SEÇÕES */
.seta {
  margin-top: 10px;
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* INPUT DE PESQUISA */
.pesquisa {
  margin-top: 60px;
  width: 30vw;
  height: 60px;
  border-radius: 50px;
  text-align: center;
}

/* TÍTULO PRINCIPAL */
h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #5a2e0c;
}

